.top-nav {
    overflow: hidden;
    margin: 5px;
    margin-top: 3rem;

  a {
    font-size: 1.2em;
  }

  ul {
    margin-top: 6.3rem;
    margin-right: 6.3rem; 
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;

  }

  li {
    padding-right: 1rem; 
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.8em;
    margin-bottom: 0.3rem;
  }

  h3 {
    margin-top: 5px;
    font-size: 2em;
  }
}
 
#about { 

}

footer {
  overflow: hidden;
  display:flex;
  margin: 5px;

  ul {
    width: 100%;
    text-align: center;  
    margin: 0px;
    padding:0px;
  }
}