$body-background-color: #f4f4f4;

body {
    background-color: $body-background-color;
}

.home-section {
    padding: 60px;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      color: #333;
    }
  
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  