.top-nav {
    overflow: hidden;
    display: flex;
    margin: 5px;
  
    ul {
        width: 99%;
        padding-right: 12em;
        text-align: right;
        list-style-type: none;
        margin: 0px;
        padding: 0px;   
    }
 
    li {
        display: inline;
    }

    a {
      color:#1155cc;
      font-weight: bold;
      font-size: 1.2em;
    }

    a:hover {
      color:#007bff;
    }
}
  
footer {
  overflow: hiden;
  display:flex;
  margin: 5px;

  ul {
    width: 100%;
    text-align: center;  
    margin: 0px;
    padding:0px;
  }

  li {
    display: inline;
  }
}