// Import global styles or libraries here
@use 'vendor/normalize' as *;
@use 'vendor/flexbox' as *;
@use 'partials/home';

// Include libraries here
@include normalize;

// Define any global styles or variables here
body {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

h3 {
  color: #2079c7;
}

// Include styles for other sections as needed
// @import 'scss/about';
// @import 'scss/projects';
// @import 'scss/contact';