// Import global styles or libraries here
@use 'vendor/normalize' as *;
@use 'vendor/flexbox' as *;
@use 'partials/home';

// Include libraries here
@include normalize;

// Define any global styles or variables here
body {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

h1, h2 {
  color: black;
}

h3 {
  color: #2079c7;
}

p { 
  color: #666666;
  font-size: 1em;
}

hr {
  background-color: #666666;
  height:1px;
  border: 0px;
}

li {
  display: inline;
}

a {
  color:#1155cc;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color:#007bff;
  text-decoration: underline;
}

// Include styles for other sections as needed
// @import 'scss/about';
// @import 'scss/projects';
// @import 'scss/contact';